/* https://coolors.co/add7f6-87bfff-3f8efc-2667ff-3b28cc */

.bgo {
  --bgo-primary:            #0022e3;
  --bgo-secondary:          #ff8500;
  --bgo-radius:             6px;
  --bgo-tools-height:       32px;
  --bgo-tools-spacing:      16px;

  /* Defaults here */
  --bgo-inner-background:   var(--bgo-secondary);
  --bgo-inner-opacity:      .5;
  --bgo-inner-border-color: var(--bgo-primary);
  --bgo-inner-border-width: 0;

  font-family: 'Public Sans', sans-serif;
  line-height: normal;
}

.bgo_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10000;
  opacity: 1;
  transition: opacity .35s ease;
}

.bgo_wrapper.__loading {
  opacity: 0;
}

.bgo_grid {
  width: 100%;
  height: 100%;
}

.bgo_grid * {
  height: 100%;
}

.bgo_inner {
  border-width: 0;
  border-style: solid;
  transition:
    background .35s ease,
    opacity .35s ease,
    border-color .35s ease
  ;
  /**/
  background:         var(--bgo-inner-background);
  opacity:            var(--bgo-inner-opacity);
  border-color:       var(--bgo-inner-border-color);
  border-left-width:  var(--bgo-inner-border-width);
  border-right-width: var(--bgo-inner-border-width);
}

.bgo_wrapper.__hidden .bgo_inner {
  opacity: 0;
}

/**/

.bgo_tools {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - (var(--bgo-tools-spacing) * 2));
  max-width: 320px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: var(--bgo-tools-spacing);
  border-radius: var(--bgo-tools-spacing);
  margin: var(--bgo-tools-spacing);
  padding: var(--bgo-tools-spacing);
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

@media screen and (min-width: 1100px) {
  .bgo_tools {
    width: auto;
    max-width: none;
  }
}

.bgo_tools__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--bgo-tools-spacing);
}

.bgo_tools__i {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
  margin-top: var(--bgo-tools-spacing);
}

.bgo_tools__i[data-tool="toggle"],
.bgo_tools__i[data-tool="delete"] {
  margin-top: 0;
}

.bgo_tools__i[data-tool="toggle"] {
  order: 0;
}

.bgo_tools__i[data-tool="delete"] {
  flex-grow: 0;
}

.bgo_tools__i[data-tool="delete"]::after {
  display: none;
}

@media screen and (min-width: 1100px) {
  .bgo_tools__i {
    flex-grow: 0;
    margin-top: 0;
  }

  .bgo_tools__i[data-tool="delete"] {
    order: 2;
  }
}

.bgo_tools__i::after {
  width: 1px;
  height: var(--bgo-tools-height);
  background: #000;
  margin-left: 5px;
  display: block;
  opacity: .4;
}

@media screen and (min-width: 1100px) {
  .bgo_tools__i::after {
    content: '';
  }
}

.bgo_tools__i * {
  pointer-events: auto;
}

.bgo_tools__i button {
  font-size: 12px;
  letter-spacing: .06em;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: var(--bgo-radius);
  background: var(--bgo-primary);
  color: #fff;
  height: var(--bgo-tools-height);
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  border: 0;
  fill: currentColor;
}

.bgo_tools__i label {
  font-size: 12px;
  letter-spacing: .06em;
  text-transform: uppercase;
  font-weight: 700;
  flex-grow: 1;
}

@media screen and (min-width: 1100px) {
  .bgo_tools__i label {
    flex-grow: 0;
  }
}

.bgo_tools__i label span {
  font-weight: 400;
  font-size: .75em;
}

.bgo_tools__i input,
.bgo_tools__i select {
  font-size: 14px;
  padding: 5px;
  height: var(--bgo-tools-height);
  border-radius: var(--bgo-radius);
  background: #fff;
  border: 2px solid var(--bgo-primary);
}

.bgo_tools__i input[type="range"] {
  padding: 0;
  border: 0;
  background: unset;
  border-radius: unset;
  width: 60px;
  appearance: none;
  -webkit-appearance: none;
}

.bgo_tools__i input[type=range]:focus {
  outline: none;
}

.bgo_tools__i input[type="range"]::-webkit-slider-runnable-track {
  background: var(--bgo-primary);
  border-radius: 100px;
  height: 6px;
}

/* Same stuff for WebKit/Blink and Firefox */
input[type=range]::-webkit-slider-thumb {
  border: 2px solid var(--bgo-primary);
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  border: 2px solid var(--bgo-primary);
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: #fff;
  cursor: pointer;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.bgo_tools__i input[type="color"] {
  width: var(--bgo-tools-height);
  height: var(--bgo-tools-height);
  padding: 0;
  border: 0;
  /* border-radius: 100%; */
  overflow: hidden;
}

.bgo_tools__i input[type="color"]::-webkit-color-swatch {
  border: 2px solid var(--bgo-primary);
  border-radius: var(--bgo-radius);
}

.bgo_tools__i[data-tool="container"] select {
  width: 135px;
}

.bgo_tools__i[data-tool="columns"] input[type="number"],
.bgo_tools__i[data-tool="border"] input[type="number"] {
  width: 52px;
  text-align: center;
}

.bgo_tools__i[data-tool="delete"] button {
  padding: 5px;
}

.bgo_tools__i[data-tool="delete"] button svg {
  width: 100%;
  height: 100%;
}

.bgo_tools__nl {
  width: 100%;
}

@media screen and (min-width: 1100px) {
  .bgo_tools__nl {
    display: none;
  }
}
